@charset "URF-8";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: hsl(223, 47%, 23%);
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-image: url(ITENS/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 290px;
    height: 490px;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

#header {
    height: 33%;
}

#headerimg {
    width: 100%;
}

#headerimg, #container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text {
    text-align: center;
}

#summary {
    font-weight: 700;
    font-size: 23px;
}

#description {
    color: grey;
    display: flex;
    align-self: center;
    width: 85%;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
}

#resume {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color: hsl(225, 100%, 98%);
    align-self: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    height: 15%;
}

#resume > a {
    color:#3b1f97;
    font-weight: 700;
    font-size: 11px;
}

#resume > a:hover {
    color:#7700ff;
    font-weight: 700;
    font-size: 11px;
}

#resumeimg {
    width: 15%;
}

#texto2 {
    font-size: 12px;
    width: 50%;
}

#texto2 > #anual {
    font-weight: 700;
    line-height: 20px;
    font-size: 13px;
}
#texto2 > #price {
    line-height: 20px;
    color: grey;
}
.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.btn > #proceed {
    background-color: #382AE1;
    height: 80%;
    width: 80%;
    box-shadow: -1px 15px 15px #cccce4;
    border: none;
    border-radius: 10px;
}

#proceed > a {
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#proceed > a:hover {
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
    color: white;
}

.btn > #cancel {
    color: grey;
    align-self: flex-start;
    font-size: 13px;
    font-weight: bold;
    text-decoration:none;
}

.btn > #cancel:hover {
    color: rgb(0, 0, 0);
    align-self: flex-start;
    font-size: 13px;
    font-weight: bold;
    text-decoration:none;
}

